@use '@/styles/abstracts/variables.scss' as *;

/* Add basic styles for the results container */
.resultsContainer {
    margin-top: $spacing-lg;
    padding: $spacing-md;
    border-radius: $border-radius-lg;
    background-color: rgba($transavia-blue, 0.03);
    border: 1px solid rgba($transavia-blue, 0.1);
    min-height: 200px;

    // Example: Reduce padding on smaller screens
    @media (max-width: $breakpoint-sm) {
        padding: $spacing-sm;
        margin-top: $spacing-md;
    }
}

.flightCard {
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba($black, 0.12);
        transition: all 0.4s ease-in-out;
    }

    &:not(:hover) {
        transform: translateY(0);
        box-shadow: none;
        transition: all 0.4s ease-in-out;
    }

}